<header class="flex pt-8 px-4 sm:px-6 lg:px-8 justify-center">
  <h1 class="font-bold text-2xl">
    &#x1FAF6 &#x1FAF6 Which of Taylor's albums is the best for YOU? &#x1FAF6 &#x1FAF6
  </h1>
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
